<?xml version="1.0" encoding="UTF-8"?>

<web-app
        xmlns="http://xmlns.jcp.org/xml/ns/javaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
            http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
        version="4.0" metadata-complete="true">


    <!-- トップページ -->
    <servlet>
        <servlet-name>Top</servlet-name>
        <servlet-class>jp.co.wordbook.TopServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Top</servlet-name>
        <url-pattern>/top</url-pattern>
    </servlet-mapping>

    <!-- 科目リストページ -->
    <servlet>
        <servlet-name>SubjectList</servlet-name>
        <servlet-class>jp.co.wordbook.SubjectListServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>SubjectList</servlet-name>
        <url-pattern>/subjectlist</url-pattern>
    </servlet-mapping>
    
    <!-- 科目編集ページ -->
    <servlet>
        <servlet-name>SubjectEdit</servlet-name>
        <servlet-class>jp.co.wordbook.SubjectEditServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>SubjectEdit</servlet-name>
        <url-pattern>/subjectedit</url-pattern>
    </servlet-mapping>

    <!-- 科目変更処理 -->
    <servlet>
        <servlet-name>SubjectChange</servlet-name>
        <servlet-class>jp.co.wordbook.SubjectChangeServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>SubjectChange</servlet-name>
        <url-pattern>/subjectchange</url-pattern>
    </servlet-mapping>
    

    <!-- 問題リストページ -->
    <servlet>
        <servlet-name>QuizList</servlet-name>
        <servlet-class>jp.co.wordbook.QuizListServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>QuizList</servlet-name>
        <url-pattern>/quizlist</url-pattern>
    </servlet-mapping>

    <!-- 問題詳細ページ -->
    <servlet>
        <servlet-name>QuizDetails</servlet-name>
        <servlet-class>jp.co.wordbook.QuizDetailsServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>QuizDetails</servlet-name>
        <url-pattern>/quizdetails</url-pattern>
    </servlet-mapping>

    <!-- 問題編集ページ -->
    <servlet>
        <servlet-name>QuizEdit</servlet-name>
        <servlet-class>jp.co.wordbook.QuizEditServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>QuizEdit</servlet-name>
        <url-pattern>/quizedit</url-pattern>
    </servlet-mapping>

    <!-- 問題削除処理 -->
    <servlet>
        <servlet-name>QuizDestroy</servlet-name>
        <servlet-class>jp.co.wordbook.QuizDestroyServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>QuizDestroy</servlet-name>
        <url-pattern>/quizdestroy</url-pattern>
    </servlet-mapping>

    <!-- 問題 上書き・新規作成 処理 -->
    <servlet>
        <servlet-name>QuizUpdate</servlet-name>
        <servlet-class>jp.co.wordbook.QuizUpdateServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>QuizUpdate</servlet-name>
        <url-pattern>/quizupdate</url-pattern>
    </servlet-mapping>
    
</web-app>
