/* cssではclassのみを使用 */

body {
    color       : #533737;
    font-family : 'meiryo';
    margin      : 0 auto;
    /* max-width   : 800px; */
}

.hedder {
    color       : #ffffff;
    background  : linear-gradient(90deg, rgb(119, 209, 154), rgb(123, 170, 240));
    text-align  : center;
    padding     : 12px 0px;
}

/*=============================================*/
/* 汎用 */
/*=============================================*/

.align-center {
    text-align : center;
}

.margin-center {
    margin : 0 auto;
}

/* 要素を透明にする */
.opacity_0 {
    opacity: 0;
}

/* 要素を無効にする */
.display-none {
    display: none;
}

/*=============================================*/
/* ドロップダウン */
/*=============================================*/

.dropdown-table-margin {
    margin-top      : 10px;
    margin-bottom   : 20px;
}

.dropdown {
    font-size   : 100%;
    padding     : 7px 4px;
}

/*=============================================*/
/* 出題部分 */
/*=============================================*/

.question-text {
    font-weight : bold;
    font-size   : 200%;
}

.answer-input {
    text-align  : center;
    font-size   : 150%;
    max-width   : 100%;
}

.corrent-text {
    color       : #6c49bd;
    font-weight : bold;
    font-size   : 150%;
}

/*=============================================*/
/* ボタン */
/*=============================================*/

/* 共通 */
.button {
    width           : 140px;
    padding-top     : 8px;
    padding-bottom  : 8px;
    text-decoration : none;
    border          : none;
    border-radius   : 20px;
    color           : #ffffff;
    font-size       : 100%;

}


/* 赤指定 */
.button-red {
    background-color: rgb(255, 76, 76);
}
.button-red:hover {
  background-color  : rgb(255, 120, 120);
  color             : white;
}


/* 青指定 */
.button-blue {
    background-color: rgb(125, 145, 235);
}
.button-blue:hover {
  background-color  : rgb(158, 174, 245);
  color             : white;
}

/*=============================================*/
/* レスポンシブデザイン*/
/*=============================================*/
/* 
@media screen and (max-aspect-ratio: 2/3) {

} 
*/
